.counties-visited {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .comments {
    width: 100%;
    display: inline;
  }
  
  .comments > textarea {
    width: inherit;
  }

  .submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .indirect-topic-box{
    width: 100%;
    display: inline;
  }

  .indirect-topic-box > textarea{
    width: inherit;
  }

  .homepage-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .homepage-buttons > textarea {
    width: inherit;
  }

  .center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }